// Заголовки, общие БЄМ блоки и проче...
.title {
  color: #fff;
  font-size: 60px;
  @include adaptiveValue("font-size", 60, 36);
  line-height: 1;
  font-weight: 700;
  &_dark {
    color: $mainColor;
  }
}
.subtitle {
  color: #fff;
  font-size: 30px;
  @include adaptiveValue("font-size", 30, 20);
  line-height: math.div(36, 30);
  font-weight: 700;
  &_dark {
    color: $mainColor;
  }
  &_thin {
    font-weight: 400;
  }
  &_noshrink {
    font-size: 30px;
  }
}

.text {
  font-size: 20px;
  @include adaptiveValue("font-size", 20, 16);
  line-height: calc(32 / 20 * 100%);
  color: #fff;
  &_dark {
    color: $mainDark;
  }
}

.float-block {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 100000;
  max-width: 350px;
  width: 100%;
  @media (max-width: em(768)) {
    right: 0;
    bottom: 0;
    max-width: none;
  }
  &__inner {
    display: flex;
    width: 100%;
    min-height: 88px;
    height: 100%;
    @media (max-width: em(768)) {
      min-height: 80px;
    }
  }
  &__play {
    position: relative;
    flex: 0 0 88px;
    background: #414150;
    margin-right: 10px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 47px;
      height: 33px;
      background-color: $mainYellow;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 12px;
      height: 14px;
      background: url("../img/icons/play.svg") center / contain no-repeat;
      z-index: 1;
    }
    @media (max-width: em(768)) {
      margin-right: 0;
    }
  }
  &__button-play {
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  &__ask {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accentRed;
  }
  &__button-ask {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 20px;
    font-family: "OrenburgC", sans-serif;
    line-height: math.div(28, 20);
    cursor: pointer;
  }
}

// Footer section - request for project

.project-request {
  &__container {
  }
  &__body {
    background: url("../img/icons/big-grey-yo.svg") left 0 bottom 0 no-repeat, linear-gradient(to bottom, #cdcdcf, #cdcdcf);
    background-size: percent(541, 1220) percent(337, 492);
    padding: 120px 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media (max-width: em(768)) {
      padding: 60px 40px;
      background-position: center top;
      background-size: contain;
    }
  }
  &__thank {
    margin-bottom: 10px;
  }
  &__callfor {
    margin-bottom: 44px;
  }
  &__button {
  }
}

.button {
  &_soaring {
    color: $mainDark;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      background: $mainYellow;
      transform: translate(-10px, 13px);
    }
    span {
      position: relative;
      z-index: 2;
      display: block;
      width: 100%;
      height: 100%;
      background: #fff;
      font-size: 20px;
      line-height: math.div(28, 20);
      padding: 30px 95px;
      @media (max-width: em(480)) {
        padding: 15px 50px;
      }
    }
  }
}
