// Заголовки, общие БЄМ блоки и проче...
.title {
  color: #fff;
  font-size: 60px;
  @include adaptiveValue("font-size", 60, 36);
  line-height: 1;
  font-weight: 700;
  @media (max-width: em(768)) {
    line-height: math.div(36, 30);
  }
  &_dark {
    color: $mainDark;
  }
  &_medium {
    @include adaptiveValue("font-size", 60, 30);
    @media (max-width: em(768)) {
      line-height: math.div(36, 30);
    }
  }
  &_small {
    @include adaptiveValue("font-size", 40, 20);
    line-height: math.div(44, 40);
  }
}
.subtitle {
  color: #fff;
  @include adaptiveValue("font-size", 30, 20);
  line-height: math.div(36, 30);
  font-weight: 700;
  &_dark {
    color: $mainDark;
  }
  &_grey {
    color: $darkGrey;
  }
  &_thin {
    font-weight: 400;
  }
  &_small {
    @include adaptiveValue("font-size", 20, 16);
    line-height: math.div(28, 20);
  }
  &_noshrink {
    font-size: 30px;
  }
}

.text {
  font-size: 20px;
  @include adaptiveValue("font-size", 20, 16);
  line-height: calc(32 / 20 * 100%);
  color: #fff;
  &_dark {
    color: $mainDark;
  }
}

.float-block {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 100000;
  max-width: 350px;
  width: 100%;
  @media (max-width: em(768)) {
    right: 0;
    bottom: 0;
    max-width: none;
  }
  &__inner {
    display: flex;
    width: 100%;
    min-height: 88px;
    height: 100%;
    @media (max-width: em(768)) {
      min-height: 80px;
    }
  }
  &__play {
    position: relative;
    flex: 0 0 88px;
    background: #414150;
    margin-right: 10px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 47px;
      height: 33px;
      background-color: $mainYellow;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 12px;
      height: 14px;
      background: url("../img/icons/play.svg") center / contain no-repeat;
      z-index: 1;
    }
    @media (max-width: em(768)) {
      margin-right: 0;
    }
  }
  &__button-play {
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  &__ask {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accentRed;
  }
  &__button-ask {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 20px;
    font-family: "OrenburgC", sans-serif;
    line-height: math.div(28, 20);
    cursor: pointer;
  }
}

// Tags section =====

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__item {
    margin-bottom: 10px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.tag {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  line-height: math.div(25, 18);
  border-radius: 80px;
  background-color: #414150;
  color: #fff;
  transition: color 0.3s ease-in, background-color 0.5s ease;
  &_yellow {
    background-color: $mainYellow;
    color: $mainDark;
  }
  &:active {
    background-color: $mainYellow;
    color: $mainDark;
  }
  &:hover {
    background-color: $mainYellow;
    color: $mainDark;
  }
  @media (max-width: em(768)) {
    padding: 5px 10px;
    font-size: 14px;
  }
}

// Footer section - request for project

.project-request {
  &__body {
    background: url("../img/icons/big-grey-yo.svg") left 0 bottom 0 no-repeat,
      linear-gradient(to bottom, #cdcdcf, #cdcdcf);
    background-size: percent(541, 1220) percent(337, 492);
    padding: 120px 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media (max-width: em(768)) {
      padding: 60px 40px;
      background-position: center top;
      background-size: contain;
    }
  }
  &__thank {
    margin-bottom: 10px;
  }
  &__callfor {
    margin-bottom: 44px;
  }
  &__button {
  }
}

// Button =====

.button {
  &_soaring {
    color: $mainDark;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      background: $mainYellow;
      transform: translate(-10px, 13px);
    }
    span {
      position: relative;
      z-index: 2;
      display: block;
      width: 100%;
      height: 100%;
      background: #fff;
      font-size: 20px;
      line-height: math.div(28, 20);
      padding: 30px 95px;
      @media (max-width: em(480)) {
        padding: 15px 50px;
      }
    }
  }
}

// Section info block (header)====

.info-block {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  &_long {
    display: flex;
    align-items: flex-start;
    max-width: none;
    .info-block__heading {
      margin-right: 40px;
      margin-bottom: 0;
    }
    .info-block__title {
    }
    @media (max-width: em(768)) {
      flex-direction: column;
      .info-block__heading {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
  &_wide {
    max-width: 1010px;
  }
  @media (max-width: em(768)) {
    padding: 0 20px;
  }
  &__heading {
    margin-bottom: 30px;
    @media (max-width: em(768)) {
      margin-bottom: 10px;
    }
  }
  &__title {
  
  }
  &__subtitle {
    margin-bottom: 10px;
  }
  &__text {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 25, 10);
    }
  }
}

// Slider hero section =====
.hero__paggination.swiper-pagination {
  // max-width: 170px;
  min-height: 20px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: em(768)) {
    margin-top: 20px;
  }
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  position: relative;
  &:not(:last-child) {
    margin-right: 10px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $mainYellow;
  }
}
.swiper-pagination-bullet-active {
  &::after {
    display: block;
  }
}

// Couple of images ===
.couple-images {
  max-width: 100%;
  &_big {
    .couple-images__big-image,
    .couple-images__small-image {
      max-width: percent(942, 1220);
    }
    .couple-images__big-image {
      margin-bottom: percent(412, 1220);
    }
    .couple-images__small-image {
      border-radius: 5px;
      img {
        border-radius: 5px;
      }
    }
  }
  &_medium {
    .couple-images__big-image,
    .couple-images__small-image {
      max-width: percent(480, 695);
      border-radius: 7px;
      img {
        border-radius: 7px;
      }
    }
    .couple-images__big-image {
      margin-bottom: percent(221, 695);
    }
  }
  &_sell {
    .couple-images__big-image {
      margin-bottom: 52px;
      @media (max-width: em(768)) {
        margin-bottom: 15px;
      }
    }
  }
  &__inner {
    display: flex;
    position: relative;
  }
  &__big-image {
    max-width: percent(1090, 1220);
    margin-bottom: 40px;
    border-radius: 7px;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: contain;
      border-radius: 7px;
      overflow: hidden;
    }
    @media (max-width: em(768)) {
      margin-bottom: 12px;
    }
  }
  &__small-image {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    max-width: percent(244, 1220);
    box-shadow: 0 15px 30px rgba(47, 47, 57, 0.3);
    border-radius: 15px;
    overflow: hidden;
    @media (max-width: em(768)) {
      border-radius: 7px;
    }
    @media (max-width: em(480)) {
      border-radius: 4px;
    }
    img {
      width: 100%;
      object-fit: contain;
      border-radius: 15px;
      overflow: hidden;
      @media (max-width: em(768)) {
        border-radius: 7px;
      }
      @media (max-width: em(480)) {
        border-radius: 4px;
      }
    }
  }
}

// About project =====
.about-project {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media (max-width: em(768)) {
    flex-direction: column;
  }
  &__main {
    max-width: 590px;
    width: 100%;
    padding-right: 20px;
    @media (max-width: em(768)) {
      padding-right: 0;
      margin-bottom: 30px;
      max-width: none;
    }
  }
  &__subtitle {
    margin-bottom: 10px;
  }
  &__title {
    margin-bottom: 30px;
    @media (max-width: em(768)) {
      margin-bottom: 10px;
    }
  }
  &__text {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    span {
      color: $mainYellow;
    }
  }
  &__aside {
    max-width: 380px;
    width: 100%;
    padding-left: 30px;
    position: relative;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background: $mainYellow;
    }
    @media (max-width: em(768)) {
      padding-left: 20px;
      max-width: none;
    }
  }
  &__aside-title {
    margin-bottom: 20px;
    @media (max-width: em(768)) {
      margin-bottom: 10px;
    }
  }
}
