//====================================================================================================

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  @include adaptiveValue("min-height", 120, 80);
  &__container {
    height: 100%;
    @media (max-width: em(840)) {
      padding: 0 20px;
    }
  }
  // .header__row

  &__row {
    display: flex;
    align-items: flex-start;
    width: 100%;
    & > *:not(:last-child) {
      margin-right: 40px;
    }
    @media (max-width: em(840)) {
      align-items: center;
    }
  }

  // .header__logo

  &__logo {
    display: flex;
    flex: 0 0 80px;
    height: 80px;
    @include adaptiveValue("height", 120, 80);
    @include adaptiveValue("flex-basis", 120, 80);
    justify-content: center;
    align-items: center;
    background-color: $lightGrey;
    position: relative;
    z-index: 5;
    svg {
      @include adaptiveValue("width", 108, 57);
      object-fit: contain;
    }
  }

  // .header__body

  &__body {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 60px;
      left: 0;
      display: inline-block;
      transform: translate(0, -50%);
      width: 100%;
      height: 1px;
      background: #8a8a97;
      @media (max-width: em(992)) {
        top: 48px;
      }
    }

    @media (max-width: em(840)) {
      &::before {
        display: none;
      }
    }
  }

  &__main {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    align-items: center;
  }

  // .header__menu

  &__menu {
    @media (max-width: em(840)) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      background-color: $mainDark;
      transition: left 0.3s ease;
      padding: 120px 20px 30px 20px;
      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: -100%;
        display: inline-block;
        width: 100%;
        height: 120px;
        z-index: 3;
        transition: left 0.3s ease;
        background: $mainDark;
      }
      .menu-open & {
        left: 0;
        &::before {
          left: 0;
        }
      }
    }
  }

  // .header__aside

  &__aside {
    align-self: flex-start;
    flex: 0 1 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: em(840)) {
      flex-direction: row;
      margin-right: 20px;
      flex: auto;
    }
  }

  // .header__number

  &__number {
    display: inline-block;
    padding: 16px 0;
    font-style: normal;
    font-size: 16px;
    line-height: math.div(22.4, 16);
    white-space: nowrap;
    color: #cdcdcf;
    position: relative;
    cursor: pointer;
    &::before {
      content: "";
      display: none;
      width: 20px;
      height: 20px;
      background: url("../img/icons/phone.svg") center no-repeat;
      background-size: 20px 20px;
    }
    @media (max-width: em(992)) {
      font-size: 14px;
      line-height: 1;
      padding: 14px 0 14px;
    }
    @media (max-width: em(840)) {
      padding: 5px;
      span {
        display: none;
      }
      &::before {
        display: inline-block;
      }
    }
  }

  // .header__lang

  &__lang {
    display: inline-block;
    padding: 18px 0 20px;
    font-size: 16px;
    line-height: math.div(22.4, 16);
    color: #cdcdcf;
    @media (max-width: em(992)) {
      padding: 15px 0;
    }
  }

  // .header__eng-page

  &__eng-page {
    @media (max-width: em(840)) {
      display: none;
    }
  }
}
.menu-tabs {
  // .menu-tabs__navigation
  @media (max-width: em(840)) {
    display: flex;
    gap: 20px;
  }
  &__navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: em(840)) {
      flex-direction: column;
      align-items: flex-start;
      margin-right: 20px;
    }
  }

  // .menu-tabs__title

  &__title {
    padding: 16px 0;
    font-size: 20px;
    line-height: math.div(28, 20);
    position: relative;
    &:not(:last-child) {
      @include adaptiveValue("margin-right", 40, 20);
      @media (max-width: em(840)) {
        margin-right: 0;
      }
    }
    &._tab-active {
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: $mainYellow;
      }
    }
    @media (max-width: em(992)) {
      padding: 10px 0;
    }
  }

  // .menu-tabs__body

  &__body {
    padding: 18px 0 20px;
    @media (max-width: em(992)) {
      padding: 10px 0;
    }
    @media (max-width: em(840)) {
      padding-top: 15px;
    }
  }

  // .menu-tabs__submenu

  &__submenu {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: em(840)) {
    }
  }

  // .menu-tabs__subitem

  &__subitem {
    &:not(:last-child) {
      margin-right: 30px;
      @include adaptiveValue("margin-right", 30, 15);
    }
    @media (max-width: em(840)) {
      margin-bottom: 25px;
      flex: 1 1 100%;
    }
  }

  // .menu-tabs__link

  &__link {
    font-size: 16px;
    line-height: math.div(22.4, 16);
    color: #cdcdcf;
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: 840px) {
    position: relative;
    display: block;
    margin-right: 10px;
    width: rem(20);
    height: rem(13);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #fff;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
        opacity: 0;
      }
      // &::before,
      // &::after {
      // }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
