//====================================================================================================
.nuero-page {
  @include adaptiveValue("padding-top", 120, 80);
  @include adaptiveValue("padding-bottom", 100, 55);
}
//====================================================================================================

// Hero nuero page ====

.hero {
  padding: 60px 0;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto 60px;
    width: 100%;
    text-align: center;
  }
  &__year {
    color: #8a8a97;
    @include adaptiveValue("font-size", 30, 18);
    @include adaptiveValue("line-height", 36, 25);
  }
  &__title {
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: 700;
    @include adaptiveValue("font-size", 70, 30);
    @include adaptiveValue("line-height", 70, 36);
  }
  &__desc {
    @include adaptiveValue("font-size", 30, 18);
    @include adaptiveValue("line-height", 36, 25);
    margin-bottom: 30px;
  }
  &__tags {
    justify-content: center;
  }
  &__paggination {
  }
}

.hero__paggination.swiper-pagination {
  max-width: 170px;
  min-height: 20px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  position: relative;
  &:not(:last-child) {
    margin-right: 10px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $mainYellow;
  }
}
.swiper-pagination-bullet-active {
  &::after {
    display: block;
  }
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__item {
    margin-bottom: 10px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

// Hero slider =======

.couple-images {
  max-width: 100%;
  &__inner {
    display: flex;
    position: relative;
  }
  &__big-image {
    max-width: percent(1090, 1220);
    padding-bottom: 40px;
    img {
      width: 100%;
      object-fit: contain;
      border-radius: 7px;
      overflow: hidden;
    }
  }
  &__small-image {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    max-width: percent(244, 1220);
    box-shadow: 0 15px 30px rgba(47, 47, 57, 0.3);
    img {
      width: 100%;
      object-fit: contain;
      border-radius: 7px;
      overflow: hidden;
    }
  }
  &__small {
  }
}

// Nuero about section

.nuero-about {
  @include adaptiveValue("margin-bottom", 100, 60);
  &__container {
    @media (max-width: em(768)) {
      padding: 0 30px;
    }
  }
  &__project {
    @include adaptiveValue("margin-bottom", 80, 30);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: em(768)) {
      flex-direction: column;
    }
  }
  &__main {
    max-width: 590px;
    width: 100%;
    padding-right: 20px;
    @media (max-width: em(768)) {
      padding-right: 0;
      margin-bottom: 30px;
      max-width: none;
    }
  }
  &__title {
    margin-bottom: 30px;
    @media (max-width: em(768)) {
      margin-bottom: 10px;
    }
  }
  &__text {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    span {
      color: $mainYellow;
    }
  }
  &__nft {
    max-width: 380px;
    width: 100%;
    padding-left: 30px;
    position: relative;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background: $mainYellow;
    }
    @media (max-width: em(768)) {
      padding-left: 20px;
      max-width: none;
    }
  }
  &__aside-title {
    margin-bottom: 20px;
    @media (max-width: em(768)) {
      margin-bottom: 10px;
    }
  }
  &__users {
    @media (max-width: em(768)) {
      margin: 0 -20px;
    }
  }
}

.users-about {
  padding: 30px;
  background: #e9e9e9;
  color: $mainDark;
  @media (max-width: em(768)) {
    padding: 20px;
  }
  &__title {
    margin-bottom: 30px;
    padding-bottom: 15px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: $mainDark;
    }
    @media (max-width: em(768)) {
      margin-bottom: 20px;
    }
  }
  &__inner {
    @media (min-width: em(768)) {
      display: flex;
      margin: 0 -30px;
    }
  }
  &__user {
    @media (min-width: em(768)) {
      padding: 0 30px;
      flex: 0 1 50%;
    }
  }
}
.about-user {
  &:first-child {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      display: inline-block;
      width: 1px;
      height: 100%;
      background: url("../img/icons/vertical-dash.svg") 0 0 repeat-y;
    }
    @media (max-width: em(768)) {
      padding-bottom: 15px;
      margin-bottom: 15px;
      &::after {
        width: 100%;
        height: 1px;
        bottom: 0;
        right: 0;
        background: url("../img/icons/horisontal-dash.svg") 0 0 repeat-x;
      }
    }
  }
  &__title {
    margin-bottom: 10px;
  }
  &__desc {
  }
}

// Nuero project composition section ====

.nuero-composition {
  &__container {
  }

  &__header {
    @include adaptiveValue("margin-bottom", 100, 60);
  }

  &__title {
    margin-bottom: 30px;
    font-size: 40px;
    line-height: math.div(44, 40);
    font-weight: 700;
    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  &__tags {
  }

  &__main {
  }
}

.nuero-main-composition {
  &__catalog {
    @include adaptiveValue("margin-bottom", 100, 60);
  }

  &__art-page {
  }

  &__info {
    display: flex;
    align-items: flex-start;
    @include adaptiveValue("margin-bottom", 90, 30);
    @media (max-width: em(768)) {
      flex-direction: column;
    }
  }

  &__title {
    flex: 0 1 380px;
    max-width: 380px;
    width: 100%;
    @include adaptiveValue("margin-right", 40, 0);
    @media (max-width: em(768)) {
      flex: 1 1 100%;
      margin-bottom: 10px;
    }
  }

  &__text {
  }

  &__content {
  }
}

.art-page {
  @include adaptiveValue("margin-bottom", 100, 60);
  &__info {
  }

  &__title {
    margin-bottom: 30px;
    @media (max-width: em(768)) {
      margin-bottom: 10px;
    }
  }

  &__activities-history {
    display: flex;
    align-items: flex-start;
  }

  &__activity {
    flex: 0 1 33.333%;
    &:not(:last-child) {
      margin-right: 25px;
    }
    img {
      width: 100%;
      object-fit: contain;
      border-radius: 7px;
      overflow: hidden;
    }
  }

  &__text {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    @include adaptiveValue("margin-bottom", 80, 30);
  }

  &__content {
    @include adaptiveValue("margin-bottom", 80, 30);
  }
}
