.sell-about {
  @include adaptiveValue("margin-bottom", 100, 60);
  &__container {
    @media (max-width: em(768)) {
      padding: 0 30px;
    }
  }
  &__project {
    @include adaptiveValue("margin-bottom", 80, 30);
  }
  &__users {
    @media (max-width: em(768)) {
      margin: 0 -20px;
    }
  }
}

.sell-main-composition {
  &__sale-reg {
    @include adaptiveValue("margin-bottom", 100, 60);
  }
  &__form-fill {
    @include adaptiveValue("margin-bottom", 100, 60);
  }
  &__admin-cabinet {
    @include adaptiveValue("margin-bottom", 100, 60);
  }
  &__points-withdrawal {
    @include adaptiveValue("margin-bottom", 100, 60);
  }
  &__confirm-withdrawal {
    @include adaptiveValue("margin-bottom", 100, 60);
  }
  &__learn-testing {
    @include adaptiveValue("margin-bottom", 100, 60);
  }
  &__learning-creation {
    @include adaptiveValue("margin-bottom", 100, 60);
  }
  &__news {
    @include adaptiveValue("margin-bottom", 100, 60);
  }
}

// Sell registration

.sell-reg {
  &__info {
    @include adaptiveValue("margin-bottom", 80, 30);
  }
  &__subtitle {
    margin-bottom: 10px;
    @media (max-width: em(768)) {
      margin-bottom: 5px;
    }
  }
  &__content {
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
  }
  &__image-ibg {
    padding-bottom: percent(602, 1090);
    display: flex;
    justify-content: center;
  }
}

// Form fill block =====

.sell-form-fill {
  &__row {
    display: flex;
    justify-content: space-between;
    @media (max-width: em(992)) {
      flex-direction: column;
    }
  }

  &__column {
    &:first-child {
      flex: 0 1 380px;
      margin-right: 10px;
      @media (max-width: em(992)) {
        flex: 1 1 100%;
        margin-bottom: 30px;
        margin-right: 0;
      }
    }
    &:last-child {
      flex: 0 1 695px;
      @media (max-width: em(768)) {
        flex: 1 1 100%;
        padding: 0 20px;
      }
    }
  }

  &__info {
  }

  &__subtitle {
  }
}

// Admin cabinet =====

.sell-admin-cabinet {
  &__info {
    @include adaptiveValue("margin-bottom", 85, 30);
  }
  &__subtitle {
    @media (max-width: em(768)) {
      font-size: 16px;
    }
  }
  &__info-content {
    max-width: 695px;
    width: 100%;
  }
  &__image-ibg {
    max-width: 1090px;
    padding-bottom: percent(953, 1220);
    margin: 0 auto;
    width: 100%;
  }
}

// Points withwrawal section =====

.points-withdrawal {
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: em(768)) {
      flex-direction: column-reverse;
    }
  }

  &__column {
    &:first-child {
      margin-right: 20px;
      @media (max-width: em(768)) {
        margin-right: 0;
      }
    }
    &:last-child {
      flex: 0 0 380px;
      @media (max-width: em(768)) {
        flex: 1 1 100%;
      }
    }
  }

  &__images {
    display: flex;
    align-items: center;
    @media (max-width: em(768)) {
      padding: 0 20px;
    }
  }

  &__image {
    border-radius: 5px;
    overflow: hidden;
    img {
      max-width: 100%;
    }
    &:first-child {
      flex: 0 1 480px;
      max-width: 480px;
      width: 100%;
      margin-right: 20px;
      @media (max-width: em(768)) {
        margin-right: 7px;
      }
    }
    &:last-child {
      flex: 0 1 229px;
      max-width: 229px;
      width: 100%;
    }
  }

  &__info {
    max-width: 380px;
    width: 100%;
    @media (max-width: em(768)) {
      max-width: none;
      margin-bottom: 30px;
    }
  }
}

// Confirm withdrawal =====

.confirm-withdrawal {
  &__info {
    @include adaptiveValue("margin-bottom", 85, 30);
  }
  &__subtitle {
    @media (max-width: em(768)) {
      font-size: 16px;
    }
  }

  &__info-content {
    max-width: 695px;
    width: 100%;
  }

  &__content {
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
  }
  &__image-ibg {
    padding-bottom: percent(761, 1090);
    display: flex;
    justify-content: center;
  }
}

// Learn & testing section =====

.learn-testing {
  &__info {
    @include adaptiveValue("margin-bottom", 80, 30);
  }
  &__info-content {
    max-width: 1010px;
  }
  &__content {
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
  }
  &__first-image-ibg {
    padding-bottom: percent(1109, 1090);
    @include adaptiveValue("margin-bottom", 100, 60);
  }
  &__second-image-ibg {
    padding-bottom: percent(705, 1090);
    @include adaptiveValue("margin-bottom", 100, 60);
    @include adaptiveValue("margin-top", 80, 30);
  }
  &__third-image {
  }
  &__text {
    max-width: 1010px;
    margin: 0 auto;
    width: 100%;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 25, 10);
    }
    @media (max-width: em(768)) {
      padding: 0 20px;
    }
  }
}

.third-image-learn-testing {
  max-width: 1000px;
  margin: 0 auto;
  @include adaptiveValue("margin-top", 80, 30);
  @media (max-width: em(768)) {
    padding: 0 20px;
  }
  &__row {
    display: flex;
  }

  &__column {
    flex: 0 1 480px;
    &:first-child {
      @include adaptiveValue("margin-right", 40, 12);
    }
  }

  &__first-ibg {
    padding-bottom: percent(378, 480);
  }

  &__second-ibg {
    padding-bottom: percent(122, 480);
    @include adaptiveValue("margin-bottom", 30, 9);
  }

  &__third-ibg {
    padding-bottom: percent(410, 480);
  }
}

// Learning - creation ====

.learning-creation {
  &__info {
    @include adaptiveValue("margin-bottom", 80, 30);
  }

  &__info-content {
  }
}

.image-learning-creation {
  max-width: 1000px;
  margin: 0 auto;
  @include adaptiveValue("margin-top", 80, 30);
  @media (max-width: em(768)) {
    padding: 0 20px;
  }
  &__row {
    display: flex;
    align-items: center;
  }

  &__column {
    flex: 0 1 480px;
    &:first-child {
      @include adaptiveValue("margin-right", 40, 12);
    }
  }

  &__first-ibg {
    padding-bottom: percent(814, 480);
    @include adaptiveValue("margin-bottom", 30, 9);
  }

  &__second-ibg {
    padding-bottom: percent(448, 480);
  }

  &__third-ibg {
    padding-bottom: percent(1232, 480);
  }
}

// News sell section =====

.news-sell {
  &__info {
    @include adaptiveValue("margin-bottom", 80, 30);
  }
  &__heading {
    flex: 0 1 275px;
    @media (max-width: em(768)) {
      flex: 1 1 100%;
    }
  }

  &__info-content {
    max-width: 695px;
    width: 100%;
  }

  &__subtitle {
    max-width: 200px;
    width: 100%;
    @media (max-width: em(768)) {
      max-width: none;
    }
  }

  &__images {
    display: flex;
    align-items: flex-start;
  }

  &__column {
    flex: 0 1 590px;
    &:first-child {
      margin-right: 40px;
      @media (max-width: em(768)) {
        margin-right: 10px;
      }
    }
  }
  
  &__first-image-ibg {
    padding-bottom: percent(451, 590);
  }

  &__second-image-ibg {
    padding-bottom: percent(667, 590);
  }
}
